:root {
    /* the color of the background of the loading sign*/
    --loading-bg-color: #FFFFFF;
    /* the color of the border around selected part and icon buttons */
    --select-color: #FF0000;
    /* the color of the focus ring */
    --focus-color: #0008ff;
    /* the color/image filepath of the background of the image display area */
    --image-background-color: hsla(0, 0%, 93.3%, .5);
    --image-background-png: "none";
    /* the color/image filepath of the random button */
    --random-button-color: #9d05f0;
    --random-button-color-hover: --accent-hover;
    --random-button-png: "none";
    /* the color/image filepath of the items menu background*/
    --control-panel-color: #ccc;
    --control-panel-png: "none";
    /* the color of the item buttons */
    --item-button-color: #fff;
    /* the color/image filepath of the item menu toggle button */
    --item-toggle-color: #fff;
    --item-toggle-svg: url("imagemakerAssets/item_toggle.svg");
    /* the color/image filepath of the palette toggle button */
    --palette-toggle-color: #fff;
    --palette-toggle-svg: url("imagemakerAssets/palette_toggle.svg");
    /* the image filepath of the logo */
    --logo-png: "none";
    --save-button-color: #008a2e;



    /** SIMPLE CSS VARIABLE OVERRIDES **/
    --accent-hover:  #7ec1ff;

    @media (prefers-color-scheme: dark) {
         --accent-hover: #7ec1ff;
    }

}

* {
    /* min-height: 0;
    min-width: 0; */
    word-wrap: break-word;
    box-sizing: border-box;
    transition: background 0.5s ease;
}

button:focus-visible,
a:focus-visible {
    outline: 3px solid var(--focus-color);
}

body {
    height: 90vh;
    display: flex;
    flex-direction: column;
}

section {
    margin: 0;
    padding: 0;
}

aside {
    float: none;
    width: auto;
    margin-inline-start: 0;
    padding: 10px;
}

.sr-only {
    border: 0 !important;
    clip: rect(1px, 1px, 1px, 1px) !important;
    /* 1 */
    -webkit-clip-path: inset(50%) !important;
    clip-path: inset(50%) !important;
    /* 2 */
    height: 1px !important;
    margin: -1px !important;
    overflow: hidden !important;
    padding: 0 !important;
    position: absolute !important;
    width: 1px !important;
    white-space: nowrap !important;
    /* 3 */
}


.imagemaker_parts_menu nav {
    display: flex;
}

@media (orientation: landscape) {
    .imagemaker_container_wrapper {
        width: 90%;
    }

    .imagemaker_container {
        flex-direction: row;
    }

    .imagemaker_canvas_wrapper {
        max-height: 100%;
    }

    .imagemaker_save_button {
        top: 5px;
        height: 36px;
    }

    /* .imagemaker_ctrl_buttons {
        position: absolute;
        right: 65px;
        bottom: 10px;
        left: auto;
        width: 50px;
        height: 50px;
        z-index: 0;
    } */

    .imagemaker_control_wrapper {
        position: relative;
        flex: 1;
        display: flex;
        flex-direction: column;
        min-width: 275px;
        height: 100%
    }


    .imagemaker_random_button {
        min-width: 60px;
        font-size: 14px;
    }

    .imagemaker_parts_menu nav {
        margin-left: 10px;
    }
    

    .imagemaker_itemlist div button {
        width: 33.2%;
    }

    .imagemaker_parts_menu {
        height: 68px;
    }

    .imagemaker_parts_menu nav button {
        width: 60px;
        height: auto;
    }

    .imagemaker_ctrl_buttons button {
        min-width: 50px;
        height: 50px;
        line-height: 50px;
    }


    .imagemaker_colorpalette div button{
        width: 48px;
        height: 48px;
    }


}

@media (orientation: portrait) {
    .loading {
        font-size: 3vh;
    }

    .imagemaker_container_wrapper {
        width: 95vw;
        min-height: 95vh;
    }

    .imagemaker_container {
        flex-direction: column;
    }

    .imagemaker_canvas_wrapper {
        max-height: 50vh;
    }

    .imagemaker_save_button {
        height: 4vh;
        font-size: 3vh;
    }

    /* .imagemaker_ctrl_buttons {
        position:absolute;
        bottom: 10px;
        right: 10px;
        top: auto;
        left: auto;
    } */

    .imagemaker_control_wrapper {
        position: relative;
        flex: 1;
        display: flex;
        flex-direction: column;
        height: 100%
    }

    /* .imagemaker_parts_menu_wrapper {
        padding-left: 18.18%;
    } */

    .imagemaker_parts_menu nav {
        margin-left: 0px;

    }

    .imagemaker_itemlist div button {
        width: 23.75%;
    }

    /* .imagemaker_parts_menu_wrapper {
        height: 120px;
    } */

    .imagemaker_parts_menu {
        height: 100%;
    }

    .imagemaker_parts_menu nav {
        width: auto;
        height: 100%;
    }

    .imagemaker_parts_menu nav button {
        height: 9vh;
    }

    .imagemaker_parts_menu nav button img {
        width: 100%;
        height: 100%;
        position: relative;
    }

    .imagemaker_random_button {
        font-size: 4vw;
    }

    .imagemaker_ctrl_buttons .button_show_colorpalette {
        width: 6vh;
        height: 6vh;
        line-height: 6vh;
        left: -10vh;
        bottom: 4px;
    }

    .imagemaker_ctrl_buttons .button_show_itemlist {
        width: 6vh;
        height: 6vh;
        bottom: 4px;
        right: 4px;
    }

    .imagemaker_colorpalette div button {
        width: 8vh;
        height: 8vh;
    }

}

.imagemaker_container_wrapper {
    position: relative;
    margin: 0 auto;
    height: 100%;
    border-style: solid;
}

.imagemaker_container {
    position: relative;
    height: 100%;
    display: flex;
    overflow: hidden;
    background-color: var(--image-background-color, hsla(0, 0%, 93.3%, .5));
    background-image: var(--image-background-png, none);
    background-position: center;
    background-repeat: no-repeat;
}

.imagemaker_canvas_wrapper {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.imagemaker_canvas_wrapper h2 {
    position: absolute;
    top:0;
    font-size: 2rem;
}

.imagemaker_save_button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: auto;
    padding: 4px 8px;
    background: var(--save-button-color, #555555);
    border-radius: 4px;
    text-align: center;
    word-break: break-all;
    color: #fff;
    position: absolute;
    top: 5px;
    right: auto;
    bottom: 4px;
    left: 4px;
    text-decoration: none;
}

.loading {
    position: absolute;
    font-size: 3vh;
    background-color: var(--loading-bg-color, #FFFFFF);
}

.imagemaker_canvas_wrapper canvas {
    display: block;
    max-width: 100%;
    max-height: 100%;
    width: auto;
    height: 100%;
    object-fit: scale-down;
}


.imagemaker_ctrl_buttons {
    z-index: 0;
    display: flex;
    display: flex;
    background: var(--accent-light);
    gap: 20px;
    height: 115px;
    justify-content: flex-start;
    align-items: center;
}

.imagemaker_control_wrapper {
    position: relative;
    flex: 1;
    display: flex;
    flex-direction: column;
    height: 100%
}

.imagemaker_parts_menu_wrapper {
    flex: 0 0 70px;
    position: relative;
}

.imagemaker_parts_menu {
    display: flex;
    overflow-x: scroll;
    margin: 0;
    white-space: nowrap;
    background-color: var(--parts-menu-color, #eee);
    -webkit-overflow-scrolling: touch;
    -ms-overflow-style: scrollbar;
}

.imagemaker_parts_menu nav {
    margin-right: 0;
    margin-top: 0;
    margin-bottom: 0;
    padding: 0;
    position: relative;
    list-style: "none";
}

.imagemaker_parts_menu nav button{
    position: relative;
    min-width: 70px;
    margin: 4px 2px 4px 2px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.imagemaker_random_button {
    background-color: var(--random-button-color, #ffbd16);
    color: #fff;
    border: 1px var(--random-button-color) solid;
    text-align: center;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: var(--random-button-png, "none");
    background-position: center;
    background-repeat: no-repeat;
}

.imagemaker_control_panel_wrapper {
    position: relative;
    flex: 1;
    overflow: hidden;
    flex-grow: 1;
}

.imagemaker_control_panel {
    position: relative;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    height: 100%;
    min-height: 100px;
    background-color: var(--control-panel-color, #ccc);
    background-image: var(--control-panel-png, "none");
    background-repeat: no-repeat;
    padding: 20px;
}

.imagemaker_itemlist {
    flex: 1 1 auto;
    height: 100%;
    min-height: 100px;
    width: 100%;
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch;
}
#itemlist_list {
    display: flex;
    gap: 1rem;
    flex-wrap: wrap;
    align-content: flex-start;
    justify-content: flex-start;
    align-items: flex-start;
}

/* .imagemaker_itemlist ul {
    padding: 0;
    margin: .5%;
} */

.imagemaker_itemlist div button {
    margin: 5px;
    background-color: var(--item-button-color, #fff);
    border-radius: 4px;
    position: flex;
    display: inline-block;
    list-style-type: none;
    margin: 0;
    padding: 0;
    vertical-align: middle;
    cursor: pointer;
}

.imagemaker_itemlist div button img {
    width: 100%;
    height: 100%;
}

.imagemaker_ctrl_buttons .button_show_itemlist {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    background-color: var(--item-toggle-color, #fff);
    background-image: var(--item-toggle-svg, "none");
    background-position: center;
    background-repeat: no-repeat;
    border: 0 solid #aaa;
    border-radius: 50%;
    cursor: pointer;
    text-align: center;
}

.imagemaker_ctrl_buttons .button_show_controller {
    display: none;
    /* display: inline-flex; */
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    background-color: var(--move-toggle-color, #fff);
    background-image: var(--move-toggle-svg, "none");
    background-position: center;
    background-repeat: no-repeat;
    color: #333;
    border: 0 solid #aaa;
    border-radius: 50%;
    cursor: pointer;
    text-align: center;
    position: absolute;
    line-height: 50px;
    top: -55px;
}

.imagemaker_ctrl_buttons .button_show_colorpalette {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    background-color: var(--palette-toggle-color, #fff);
    background-image: var(--palette-toggle-svg, "none");
    background-position: center;
    background-repeat: no-repeat;
    color: #333;
    border: 0 solid #aaa;
    border-radius: 50%;
    cursor: pointer;
    text-align: center;
}

.imagemaker_logo {
    position: absolute;
    top: 6px;
    right: auto;
    bottom: auto;
    left: 6px;
    display: inline-block;
    background-size: contain;
    background-repeat: no-repeat;
    background-color: #ff597e;
    background-image: var(--logo-png, "none");
    width: 66px;
    height: 20px;
    filter: drop-shadow(0 0 1px #fff) drop-shadow(0 0 1px #fff);
    display: none;
}

.selected {
    border: 3px solid var(--select-color, #ff0000);
}

.imagemaker_colorpalette {
    overflow: scroll;
    padding: 4px 0;
    -webkit-overflow-scrolling: touch;
}

.imagemaker_colorpalette div {
    padding: 0;
    font-size: 0;
    width: 100%;
    margin: auto;
    text-align: center;
}

.imagemaker_colorpalette div button {
    margin: 1px;
    border-radius: 50%;
    border: 2px solid #eee;
    box-sizing: border-box;
    list-style-type: none !important;
    cursor: pointer;
}

.imagemaker_colorpalette ul>* {
    display: inline-block;
    list-style-type: none;
    margin: 0;
    padding: 0;
    vertical-align: middle;
    font-size: 1rem;
}